name: Build OpenCV with QT+OGL Support for Windows

on: push

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set OpenCV Version
        run: echo opencv_ver="4.7.0" >> $env:GITHUB_ENV

      - name: Download OpenCV
        run: |
          mkdir C:\downloads
          curl -fL https://github.com/opencv/opencv/archive/${env:opencv_ver}.zip -o C:\downloads\opencv-${env:opencv_ver}.zip
          7z -r x C:\downloads\opencv-${env:opencv_ver}.zip -oc:\downloads\
          echo OpenCV_DIR="C:\downloads\opencv-${env:opencv_ver}" >> $env:GITHUB_ENV
          Remove-Item -Force C:\downloads\opencv-${env:opencv_ver}.zip

      - name: Compile OpenCV
        run: |
          mkdir $env:OpenCV_DIR\build_64
          cmake -G "Visual Studio 17 2022" -S ${env:OpenCV_DIR}\ -B ${env:OpenCV_DIR}\build_64\ `
          -DBUILD_opencv_core=ON `
          -DBUILD_opencv_features2d=ON `
          -DBUILD_opencv_calib3d=ON `
          -DBUILD_opencv_flann=ON `
          -DBUILD_opencv_imgproc=ON `
          -DBUILD_opencv_video=ON `
          -DBUILD_opencv_videoio=ON `
          -DBUILD_opencv_videoio=ON `
          -DBUILD_opencv_highgui=ON `
          -DBUILD_opencv_world=ON `
          -DWITH_OPENCL=ON `
          -DWITH_OPENCL_D3D11_NV=ON `
          -DWITH_OPENGL=ON `
          -DWITH_DIRECTX=ON `
          -DCMAKE_BUILD_TYPE="Release" `
          -DCMAKE_INSTALL_PREFIX="C:\opencv-test\"
          mkdir "D:\opencv-test\"
          cmake --build "${env:OpenCV_DIR}\build_64\"  --target install --config release

      - name: Package Prebuilt OpenCV
        run: |
          ls "D:\opencv-test\"
          $opencv_ver1=$env:opencv_ver
          mkdir libbin
          cd c:\downloads
          7z a ${env:GITHUB_WORKSPACE}\libbin\opencv-${opencv_ver1}.7z -m0=LZMA2 -mx9

      - name: Upload Prebuilt OpenCV binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name != 'pull_request'
        run: |
          $CommitHash = git rev-parse --short=8 HEAD
          # gh release create ${env:opencv_ver}-${CommitHash} libbin\opencv-${env:opencv_ver}.7z --target $env:GITHUB_SHA -t "OpenCV ${env:opencv_ver} with QT+OGL Support for Windows"
