name: Build OpenCV with QT+OGL Support for Windows

on: push

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set OpenCV version
        run: |
          echo opencv_ver=4.7.0 >> $env:GITHUB_ENV

      - name: Create folder
        run: mkdir buildbot\opencv-${env:opencv_ver}\build_64

      - name: Cache OpenCV
        uses: actions/cache@v3
        id: cache0
        with:
          path: D:\opencv-${{ env.opencv_ver }}
          key: ${{ runner.os }}OpenCV-${{ env.opencv_ver }}-BuildCaches

      - name: Download OpenCV
        uses: actions/checkout@v3
        with:
          repository: opencv/opencv
          path: buildbot\opencv-${{ env.opencv_ver }}
          ref: ${{ env.opencv_ver }}

      - name: Create link
        run: |
          Move-item buildbot\opencv-${env:opencv_ver} D:\
          echo OpenCV_DIR=D:\opencv-${env:opencv_ver} >> $env:GITHUB_ENV
          echo archive_path="${env:GITHUB_WORKSPACE}\libbin\opencv-${env:opencv_ver}.7z" >> $GITHUB_ENV
          ls D:\

      - name: Compile OpenCV
        run: |
          cmake -G "Visual Studio 17 2022" -S ${env:OpenCV_DIR}\ -B ${env:OpenCV_DIR}\build_64\ -DBUILD_opencv_core=ON -DBUILD_opencv_features2d=ON -DBUILD_opencv_calib3d=ON -DBUILD_opencv_flann=ON -DBUILD_opencv_imgproc=ON -DBUILD_opencv_video=ON -DBUILD_opencv_videoio=ON -DBUILD_opencv_videoio=ON -DBUILD_opencv_highgui=ON -DBUILD_opencv_world=ON -DWITH_OPENCL=ON -DWITH_OPENCL_D3D11_NV=ON -DWITH_OPENGL=ON -DWITH_DIRECTX=ON -DWITH_CUDA=ON
          cd $env:OpenCV_DIR\build_64
          mingw32-make -j 8
          mingw32-make install

      - name: Package Prebuilt OpenCV
        run: |
          mkdir libbin
          cd libbin
          7z a ${env:archive_path} -m0=LZMA2 -mx9

      - name: Upload Prebuilt OpenCV binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name != 'pull_request'
        run: gh release create $env:opencv_ver ${env:archive_path} --target $env:GITHUB_SHA -t "OpenCV ${env:opencv_ver} with QT+OGL Support for Windows" || true
